


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

*::after,*::before
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    background-color: initial;
}

:root{
    --primary-color: black;
    --text-color: white;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: white;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}

header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #2b3035;
    padding: 1rem 1rem;
    z-index: 2;
    display: block;

    
}
@supports(display: auto)
{
    body{
        overflow: overlay;
    }

    
    
}
footer{
    border-top: 2px solid #2b3035;
    display: block;
}
section{
    margin-bottom: 10px;
}

.fcontainer{
    background-color: #2b3035;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-block-end: auto;
    margin-inline-start: auto;
}
.fcontainer-fluid{
    padding-top: 40px;
    padding-bottom: 40px;
}
.info{
    display: flex;
    flex-wrap: wrap;
    margin-block-end: -15px;
    margin-inline-start: -15px;
}
.finfodiv{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
}
.finfodiv{
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
}

.copyrightContainer{
    background-color: rgb(33,37,41);
    text-align: left;
    padding-left: 15px;
    flex-direction: row;
    display: flex;

}
.copyrighttext
{
    width: 600px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.copyright{
    width: 90%;
}

.socials
{
    width: 10%;
    align-items: center;
    display: flex;
}
.socialIcons
{
    width: auto;
    margin-left: 5px;
    float :right;
}

.socialsIcons svg
{
    float:right;
}


@media (max-width:800px) {
    .copyrightContainer
    {
        flex-direction: column;
    }
    .socials{
        width: 50%;
        display: inline;
    }
    
    
}


.b1{
    margin-bottom: 50px;
}
.initialInfo{
    min-height: 20rem;
    background-color: rgba(0, 0, 0, 0.767);
    background-image: url(../resursi/izlozboldtimera_rijeka_fa_ri__14__01_w1200.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
}
.content{
    margin-bottom: 20px;
}

.cards{
    margin-top: 50px;
}


#image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .8s;
}


.A_container{
    display: inline-block;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    border-width: 4px;
    border-radius: 15px;
    width: 80%;
    background-color: rgba(65, 65, 65, 0.349);
}

.about_content{
    display: flex;
    justify-content: center;
}


.A_about{
    display: flex;
    flex-direction: column;
}


.A_profP{
    width: 200px;
    height: 200px;
    float: right;
    
}
.A_profP img{
    max-width: 100%;
}
.Profile_picture{
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px
}

.c-card_header:hover img
{
    transform: scale(1.2);
}

.c-card_header{
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}

.initialInfo h1{
    text-align: center;
    color: rgba(255, 255, 255, 0.979);
    font-size: 100px;
    padding-top: 5rem;
    font-family:sans-serif;
}

.initialInfo p{
    text-align: center;
    color: rgba(255, 255, 255, 0.884);
    padding-top: 1rem;
    font-size: 20px;
    font-family: sans-serif;
}
.container{
    padding-left: 10px;
    padding-right: 10px;
}

.news{
    background-color: rgba(0, 0, 0, 0.123);
}

.map{
    width: 100%;
    height: 350px;
}
.Description{
    background-color: rgba(0, 0, 0, 0.096);
    width: 100%;
}
.about{
    display: flex;
}

.googlemap{
    width: 100%;
    height: 100%;
}
.filler{
    width: 100%;
}
@media(max-width :1046px)
{
    .about{
        flex-direction: column;
    }
    .map{
        
        display: flex;
        justify-content: center;
        padding-top: 10px;
        width: 100%;
    }
    .Description{
        width: 100%;
    }
    .googlemap{
        padding-right: 20px;
        padding-left: 20px;
    }
}





@media (min-width : 700px)
{
    .c1{
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }
    
}
@media(min-width:800px)
{
    .l1{
        flex: 0 0 25%;
        max-width: 25%;
    }
    
}


.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-inline-end: -15px;
    margin-inline-start: -15px;
}

.cards{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-inline-end: auto;
    margin-inline-start: auto;
}
.c-card_text a{
    color: aqua;
    font-weight: 700;
}



.logo{
    position: absolute;
    top: 50%;
    
    transform: translate(0%, -50%);
}
.logo img{
    width: 240px;
}

nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float:right;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    padding:0;
    
}

nav li a{
    position: relative;
    color: white;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}
nav li a::before{
    content: '';
    position: absolute;
    bottom:-2px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width .3s ease;
}

nav li a:hover::before{
    width: 100%;
}
.menu-btn{
    display: none;
    float: right;
}
@media screen and (max-width : 850px) {
    .logo img{
        content:url(/resursi/MOI_Zagreb_logo-240x0-c-default-Cut.png);
        width: 100%;
        
    }
}

@media screen and (max-width : 700px) {
    nav{
        
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        height: 0px;
        background-color: rgb(22, 22, 22);
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        z-index: 1;
        overflow: hidden;
        opacity: 0;
        transition: height .5s ease-in-out;
        
    }
    nav ul{
        flex-direction: column;
        align-items: center;
        gap:2rem;

    }

    nav li a{
        font-size: 1.2rem;
    }


    .logo{
        left:2rem;
        transform: translate(0,-50%);
    }

    .logo img{
        width: 70px;
    }
    .menu-btn{
        display: flex;
        flex-direction: column;
        gap: 9px;
    }

    .menu-btn span{
        width: 30px;
        height: 2px;
        background-color: white;
        transform-origin: left;
        transition: 0.5s ease;
    }

    .menu-btn input{
        position: absolute;
        width: 30px;
        height: 30px;
        z-index: 2;
        cursor: pointer;
        appearance: none;

    }

    .menu-btn input:checked ~ .second-line{
        opacity: 0;
    }

    .menu-btn input:checked ~ .first-line{
        transform: rotate(45deg);
    }

    .menu-btn input:checked ~ .third-line{
        transform: rotate(-45deg);
    }
    header:has(input:checked) > nav{
        height: calc(50vh - 80%);
        opacity: 1;
    }
    .copyrighttext
    {
        width: auto;
    }
    
}
@media (max-height : 750px) {

    nav{
        
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        height: 0px;
        background-color: rgb(22, 22, 22);
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        z-index: 1;
        overflow: hidden;
        opacity: 0;
        transition: height .5s ease-in-out;
        
    }
    nav ul{
        flex-direction: column;
        align-items: center;
        gap:2rem;

    }

    nav li a{
        font-size: 1.2rem;
    }


    .logo{
        left:2rem;
        transform: translate(0,-50%);
    }

    .logo img{
        width: 70px;
    }
    .menu-btn{
        display: flex;
        flex-direction: column;
        gap: 9px;
    }

    .menu-btn span{
        width: 30px;
        height: 2px;
        background-color: white;
        transform-origin: left;
        transition: 0.5s ease;
    }

    .menu-btn input{
        position: absolute;
        width: 30px;
        height: 30px;
        z-index: 2;
        cursor: pointer;
        appearance: none;

    }

    .menu-btn input:checked ~ .second-line{
        opacity: 0;
    }

    .menu-btn input:checked ~ .first-line{
        transform: rotate(45deg);
    }

    .menu-btn input:checked ~ .third-line{
        transform: rotate(-45deg);
    }
    header:has(input:checked) > nav{
        height: 100vh;  
        opacity: 1;
    }
}

form{
    width: 60vw;
    max-width: 700px;
    min-width: 300px;
    margin: 0 auto;
    padding-top: 2em;
}
fieldset{
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding-top: 5px;
}
fieldset:last-of-type{
    border-top: none;
}
label{
    display: block;
    margin: 7px 0;
    font-weight: bold;
}

.radio{
    display: inline;
    margin: 0 10px;
}
.input-text{
    border-radius: 4px;
    border: 1.5px solid rgba(0,0,0,0.5);
    margin: 6px 0 5px 6px;
    min-height: 1.9em;
    width: 40%;
}
input[type="submit"]
{
    display: block;
    margin: 0 auto;
    height: 1.4em;
    font-size: 1.1rem;
    font-weight: bold;
}

label>ul>li{
    list-style: none;
    padding-left: 2em;
    padding-top: 2px;
    font-weight: normal;
}
#osobne-info label>ul{
    display: flex;
    padding: 0;
}
label>input{
    float : right;
}
label>ul{
    float : right;
    padding-top: 5px;
}

@media screen and (min-width :1024px) {
    
.galery-card-item a{
    text-decoration: none;
}
.image-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20em,1fr));
    grid-auto-rows: auto;
    gap: 2em;
    padding: 2em;
}

.image-grid img{
    max-width: 100%;
}

.galery-card-item, .galery-card-item a, .galery-card{
    display: flex;
    flex-direction: column;
}
.galery-card-item a,.galery-card, .galery-card img{
    flex-grow: 1;
}
.galery-card img{
    object-fit: cover;
    transition: 200ms transform ease-in-out;
}

.galery-card{
    position: relative;
}


.galery-card-item{
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.432);
}

.galery-card figcaption
{
    font-size: auto;
    font-weight: 600;
    padding-top: 40px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    
    transition: 200ms background-color ease-in-out;
}
.galery-card:hover figcaption
{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.644);
}
.galery-card:hover img{
    transform: scale(1.2);
}

}
@media screen and (max-width:1024px) {

.image-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 15px;
}
.galery-card-item, .galery-card-item a, .galery-card{
    display: flex;
    flex-direction: column;
}
.galery-card-item{
    margin-bottom: 20px;
    overflow: hidden;
    background-color: rgba(46, 46, 46, 0.219);
    border-radius: 10px;
}
.galery-card img{
    padding: 5px;
    border-radius: 15px;
}
.galery-card figcaption{
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
    color: rgb(32, 31, 31);

}

}